{% extends "base.html" %}

{% block content %}

<style>

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ebebeb;
  padding: 10px;
}

.item0 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.display {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 30px;
}

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style="background: none;"> </div>
        <div class="col-sm-4" style="background: none;">
            <div class="grid-container">
      <div class="display">00:00:00</div>
      <button>7</button>
      <button>8</button>
      <button>9</button>
      <button>4</button>
      <button>5</button>
      <button>6</button>
      <button>1</button>
      <button>2</button>
      <button>3</button>
    <button class="item0">0</button>
        <div class="col-sm-4" style="background: none;"> </div>
    </div>
        </div>
    </div>
</div>
{% endblock %}