{% extends "base.html" %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
        <div class="jumbotron">
            <h1 class="display-4"><span class="text-black">Lab Manager</span></h1>
            <p class="lead"><span class="text-black">A timer manager for biological experiments</span></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/quick_timer" role="button">Quick Timer</a>
                <a class="btn btn-primary btn-lg" href="/set_up_timers" role="button">Set Up Timers</a>
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}

