{% extends "base.html" %}
{% from "_render_field.html" import render_field %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-7">
            <div class="card card-body">
                <form action="" method="post" role="form" novalidate>
                    {{ form.csrf_token }}
                    <h3 class="text-center mb-4">Log in</h3>
                    <fieldset>
                        {{ render_field(form.username, placeholder=form.username.label.text) }}
                        {{ render_field(form.password, placeholder=form.password.label.text) }}
                        {{ form.submit(type="submit", class="btn btn-lg btn-primary btn-block",
                        value=form.submit.label.text)|safe }}
                        {% if error %}
                        <div class="alert alert-danger">
                            <strong>Error: </strong> {{ error }}
                        </div>
                        {% endif %}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}