{% extends "base.html" %}

{% block content %}
<script>
timer{{timer}} = new createTimer({{timer}})
</script>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6">
        <div id="timer-container">
            <div id="timer{{timer}}-name">Timer Name</div>
                <div id="timer{{timer}}-display">00:00:00</div>
                <button id="button-7" onclick="timer{{timer}}.inputNumber(7)">7</button>
                <button id="button-8" onclick="timer{{timer}}.inputNumber(8)">8</button>
                <button id="button-9" onclick="timer{{timer}}.inputNumber(9)">9</button>
                <button id="button-4" onclick="timer{{timer}}.inputNumber(4)">4</button>
                <button id="button-5" onclick="timer{{timer}}.inputNumber(5)">5</button>
                <button id="button-6" onclick="timer{{timer}}.inputNumber(6)">6</button>
                <button id="button-1" onclick="timer{{timer}}.inputNumber(1)">1</button>
                <button id="button-2" onclick="timer{{timer}}.inputNumber(2)">2</button>
                <button id="button-3" onclick="timer{{timer}}.inputNumber(3)">3</button>
                <button id="button-0" onclick="timer{{timer}}.inputNumber(0)">0</button>
                <button id="clear" onclick="timer{{timer}}.clearDisplay()">Clear</button>
                <button id="start" onclick="timer{{timer}}.startTimer()">Start</button>
                <button class="wide-item" id="stop" onclick="timer{{timer}}.stopTimer()">Stop</button>
                <div class="wide-item">
                    <form id="name-form" autocomplete="off">
                        <input id="name{{timer}}-text" type="text" onfocus="this.value=''" value="Enter your timer name here...">
                        <button type="button" id="'submit-button" onclick="timer{{timer}}.updateName()">Submit Timer Name
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}