{% extends "base.html" %}

{% block content %}

<style>

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ebebeb;
}

.button-wide {
  grid-column-start: 1;
  grid-column-end: 4;
}

#display {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 30px;
}

#timer-name {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 30px;
}

#name-submit {
  grid-column-start: 1;
  grid-column-end: 4;
}

</style>

<script>
var running = false
var entered_digits = 0
var alarm = new Audio("/static/audio/alarm.mp3")

function inputNumber(number) {

    if (running == true) {
    return
    }

    if (entered_digits == 6 ){
    return
    }

    var display_text = document.getElementById("display").innerHTML
    var display_without_colon = display_text.substring(0,2) + display_text.substring(3,5) + display_text.substring(6,8) + number
    var display_trimmed = display_without_colon.substring(1,7)
    var display_with_colon = display_trimmed.substring(0,2) + ":" + display_trimmed.substring(2,4) + ":" +  display_trimmed.substring(4,6)
    document.getElementById("display").innerHTML = display_with_colon
    entered_digits++
}

function clearDisplay() {

    if (running == true) {
    alarm.pause()
    alarm.currentTime = 0
    return
    }
    entered_digits = 0
    document.getElementById("display").innerHTML = "00:00:00"

}

function addTime(userTime) {
    let userTimeInMilliseconds = (userTime.split(":")[0] * 3600000) + (userTime.split(":")[1] * 60000) + (userTime.split(":")[2] * 1000)
    return new Date(Date.now() + userTimeInMilliseconds)
    }

function millisecondsConversion(milliSeconds){
    let hours = Math.floor(milliSeconds/3600000)
    if (hours <= 9) {
    hours = "0" + hours
    }
    let minutes = Math.floor((milliSeconds - (hours * 3600000))/ 60000)
    if (minutes <= 9) {
    minutes = "0" + minutes
    }
    let seconds = Math.floor(((milliSeconds - (hours * 3600000) - (minutes * 60000))/ 1000))
    if (seconds <= 9) {
    seconds = "0" + seconds
    }
    return hours + ":" + minutes + ":" + seconds
}

function timer(stopTime) {
    if (running == false) {
    return
    }
    let timeDelta = stopTime - Date.now()
    if (timeDelta <= 0) {
    alarm.play()
    return
    }
    document.getElementById("display").innerHTML = millisecondsConversion(timeDelta)
    let t = setTimeout(function() {
        timer(stopTime)}, 100)
    }

function startTimer() {
    running = true
    let input = document.getElementById("display").innerHTML
    let stopTime = addTime(input)
    timer(stopTime)
}

function stopTimer() {
    running = false
    alarm.pause()
    alarm.currentTime = 0

}

function updateName() {
    var name = document.getElementById("name-text").value
    console.log(name)
    document.getElementById("timer-name").innerHTML = name

}
</script>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-sm-4" style="background: none;"> </div>
        <div class="col-sm-4" style="background: none;">
            <div class="grid-container">
                  <div id="timer-name">Timer Name</div>
                  <div id="display">00:00:00</div>
                  <button id="button-7" onclick="inputNumber(7)">7</button>
                  <button id="button-8" onclick="inputNumber(8)">8</button>
                  <button id="button-9" onclick="inputNumber(9)">9</button>
                  <button id="button-4" onclick="inputNumber(4)">4</button>
                  <button id="button-5" onclick="inputNumber(5)">5</button>
                  <button id="button-6" onclick="inputNumber(6)">6</button>
                  <button id="button-1" onclick="inputNumber(1)">1</button>
                  <button id="button-2" onclick="inputNumber(2)">2</button>
                  <button id="button-3" onclick="inputNumber(3)">3</button>
                  <button id="button-0" onclick="inputNumber(0)">0</button>
                  <button id="start" onclick="startTimer()">Start</button>

                  <button class="button-wide" id="stop" onclick="stopTimer()">Stop</button>
                    <form id="name-submit">
                    <input id="name-text" type="text" name="firstname" value="Enter your timer name here...">
                </form>
                <button id="'submit-button" onclick="updateName()">Enter a name</button>


        <div class="col-sm-4" style="background: none;"> </div>
    </div>
        </div>
    </div>
</div>
{% endblock %}