{% extends "base.html" %}
<!-- https://medium.com/wdstack/bootstrap-4-form-examples-c18ac5e9cd30 -->
{% from "_render_field.html" import render_field %}
{% from "_render_submit.html" import render_submit %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-7">
                <div class="card card-body">
                    <form action="" method="post" role="form" novalidate>
                        {{ form.csrf_token }}
                    <h3 class="text-center mb-4">Register</h3>
                    <fieldset>
                        {{ render_field(form.email, placeholder=form.email.label.text) }}
                        {{ render_field(form.password, placeholder=form.password.label.text) }}
                        {{ render_field(form.confirm, placeholder=form.confirm.label.text) }}
                        {{ render_submit(form.submit, value=form.submit.label.text) }}
                    </fieldset>
                    </form>
                </div>
        </div>
    </div>
</div>


{% endblock %}