{% extends "base.html" %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-7">
            <div class="jumbotron">
                <h2 class="text-black">How many timers do you need?</h2>
                <p class="lead">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Number
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/timer_array/1">1</a>
                        <a class="dropdown-item" href="/timer_array/2">2</a>
                        <a class="dropdown-item" href="/timer_array/3">3</a>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

