{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    {% for row in grid_list %}
    <div class="row">
        {% for timer in row %}
        <div class="col-sm-4 mt-5">
            <div id="timer-container">
                <div id="timer{{ loop.index }}-name"></div>
                <div id="timer{{ loop.index }}-display"></div>
                <button id="button-7" onclick="timer{{ loop.index }}.inputNumber(7)">7</button>
                <button id="button-8" onclick="timer{{ loop.index }}.inputNumber(8)">8</button>
                <button id="button-9" onclick="timer{{ loop.index }}.inputNumber(9)">9</button>
                <button id="button-4" onclick="timer{{ loop.index }}.inputNumber(4)">4</button>
                <button id="button-5" onclick="timer{{ loop.index }}.inputNumber(5)">5</button>
                <button id="button-6" onclick="timer{{ loop.index }}.inputNumber(6)">6</button>
                <button id="button-1" onclick="timer{{ loop.index }}.inputNumber(1)">1</button>
                <button id="button-2" onclick="timer{{ loop.index }}.inputNumber(2)">2</button>
                <button id="button-3" onclick="timer{{ loop.index }}.inputNumber(3)">3</button>
                <button id="button-0" onclick="timer{{ loop.index }}.inputNumber(0)">0</button>
                <button id="clear" onclick="timer{{ loop.index }}.clearDisplay()">Clear</button>
                <button id="start" onclick="timer{{ loop.index }}.startTimer()">Start</button>
                <button class="wide-item" id="stop" onclick="timer{{ loop.index }}.stopTimer()">Stop</button>
                <div class="wide-item">
                    <form id="timer1-radio-select">
                        <div><input type="radio" name="timer{{ loop.index }}-alarm" value="alarm1" checked>Alarm 1</div>
                        <div><input type="radio" name="timer{{ loop.index }}-alarm" value="alarm2">Alarm 2</div>
                        <div><input type="radio" name="timer{{ loop.index }}-alarm" value="alarm3">Alarm 3</div>
                        <div><input type="radio" name="timer{{ loop.index }}-alarm" value="alarm4">Alarm 4</div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

</div>
<script>
{% for row in grid_list %}
{% for timer in row %}
timer{{ loop.index }} = new createTimer({{ loop.index }}, "{{ timer.hours }}:{{ timer.minutes }}:{{ timer.seconds }}" , "{{ timer.name }}")
{% endfor %}
{% endfor %}

</script>
{% endblock %}
